<!-- insert field asking to write subject ID -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Data Donation Instructions </title>
  <link href="/static/css/tacit-css.min.css" rel="stylesheet" type="text/css"></link>
</head>
<style>

.alert-wrap {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}

.alert-message-container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
  font-size: 2.75vh;
  line-height: 1.5em;
}

</style>
<body>
  <div class="alert-wrap">

    <div class="alert-message-container">

      <!-- Header -->
      <h3 style="font-size: 1.5em; text-align: center; margin: 0 0 5px 0;">Data Donation Instructions</h3>
      <br> 
      <hr>

        <!-- Body -->
        <p>
          <b> Thank you for donating your Twitter/X data for a Princeton Mental Health Lab study. </b> 
            <p> Using your downloaded Twitter/X zip file, please <b> manually unzip </b> the file on your computer (typically double-clicking, or right-clicking and selecting 'unzip')
            <br>
            <p> The following pages will prompt you to upload two specific files from this folder, 'tweets.js' and 'like.js'
            <br>
          <ol>
            <li> <b> "tweets.js" </b> = information about your posted Tweets, with timestamps. 
            <br> 
            <li> <b>"like.js" </b> = information about your liked Tweets, with timestamps.
            <br> 
          </ol>
            <p> All your Twitter/X data is locally extracted, meaning the researchers do not have access to any data other than the files you upload.
            <br> 
            <p> We store your social media data on secure password-protected internal servers. We will remove identifiable information from your posts, and we will never share or publish the text of your Tweets in their raw form. 
            <br> 
         

        </p>

      <!-- Button -->
      <form method="post">
        <center><button class="" type="submit" name="alert-check" value=1 style="font-size: 2.25vh; margin: 10px 0 0 0; padding: 0.25em 1em;">Proceed</button></center>
      </form>


    </div>
  </div>

</body>
<script>
  window.scrollTo(0,0);
</script>
