
<html>
<head>   
    <title>Debrief</title>   
    <link href="/static/css/tacit-css.min.css" rel="stylesheet" type="text/css"></link>
</head>  

<style>
    .alert-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center; 
  margin: 0 0 5px 0;
}
</style>

<body>
    <div class="alert-message-container">
    <p> We hope you enjoyed the study. Once the results of the study are published in peer-
        reviewed papers, you will be able to find them on nivlab.princeton.edu/publications together 
        with a lay summary (note that this may take quite a while – it is typical for studies to take 
        several years for completion).
    <br> <br> 
    <p> We will be in touch via email regarding payment. 
    <br> <br> <br> <br> <br> 
    <p style="text-transform: uppercase"> <b> You may now exit the browser </b>
</div>
</body>


</html>
