<html>
<head>   
    <title>Upload like.js</title>   
    <link href="/static/css/tacit-css.min.css" rel="stylesheet" type="text/css"></link>
</head>  
<style>
    .alert-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
  font-size: 2.75vh;
  line-height: 1.5em;
}

    .progress {
    position: absolute;
    left: calc(50% - 75px);
    color: #ffb347;
}

    .error{
color: #e8462d;
text-align: center;
font-size: 1em;
    }

</style> 
<body>   
    <div class="error">
        {% for mesg in get_flashed_messages() %}
        <p><b>{{ mesg }}</b></p>
        {% endfor %}
    </div>

    <div class="alert-message-container">
    <h3 style="font-size: 1.5em; text-align: center; margin: 0 0 5px 0;">Please upload the file <b>"like.js"</b></h3>
    
    <form style="font-size: 1.5em; text-align: center; margin: 0 0 5px 0;" 
        action = "/success" method = "post" enctype="multipart/form-data">   
        <input type="file" accept=".js" name="file" />   
        <button type = "submit" value="Upload" style="font-size: 2.25vh; margin: 10px 0 0 0; padding: 0.25em 1em;"> Upload </button> 
    </form>   
    
    <br>
    <div class="progress"> 
        <progress style="font-size: 0.8em; text-align: center; margin: 0 0 5px 0;" value="2" max="3"></progress>
    </div>
</div>

</body>   
</html>